services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - RAILS_ENV=development
    command: bash -c "bundle exec rails db:prepare && bundle exec rails server -b 0.0.0.0"
    volumes:
      - .:/home/app
      - bundle_cache:/usr/local/bundle

  test:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - RAILS_ENV=test
    command: bash -c "bundle exec rails db:create && bundle exec rails db:migrate && bundle exec rspec"
    volumes:
      - .:/home/app
      - bundle_cache:/usr/local/bundle

volumes:
  bundle_cache: